<div class="w-[100%] p-5">
  <div class="pb-5">
    <h3 class="pb-3 text-[24px] font-semibold">Crear Evento</h3>
    <h5 class="py-5">Fecha: 14/07/2023</h5>
    <form action="">
      <div class="flex gap-5">
        <input type="time" placeholder="" />
        <p>14:00 pm</p>
      </div>
      <textarea
        rows="4"
        class="bg-pink-400"
      ></textarea>
    </form>
  </div>
  <mat-divider></mat-divider>
  <div>
    <h3 class="pb-3 text-[20px] font-semibold">Eventos creados</h3>
  </div>
</div>
