<div class="w-[100%] p-5">
  <div class="flex justify-end px-5">
    <button (click)="closeDialog()" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-dialog-content>
    <div class="pb-5">
      <h3 class="text-4xl font-semibold mb-5">Crear nuevo evento</h3>
      <!-- <p>{{ eventDaySelected | json }}</p> -->
      <h5 class="py-5">Fecha: {{ data?.daySelected | date : "dd MMM" }}</h5>
      <form
        action=""
        class="flex flex-col gap-4"
        [formGroup]="formRegisterEvent"
        (ngSubmit)="registerEevent()"
      >
        <div class="flex gap-5">
          <input
            type="time"
            placeholder=""
            #hourDate
            (input)="setHourToShow(hourDate.value)"
            formControlName="hour"
            class="border-b-2 text-lg mb-3"
          />
          <p>Hora seleccionada: {{ hourSelected }}</p>
        </div>
        <input
          type="text"
          placeholder="Título"
          formControlName="title"
          class="border-b-2 text-lg mb-3 p-3"
        />
        <textarea
          rows="4"
          class="bg-gray-100 text-lg text-dark !w-full p-3 rounded-[20px]"
          formControlName="description"
        ></textarea>
        <div>
          <button
            class="bg-[#AF6FE8] text-white py-[10px] px-[20px] rounded-[20px]"
            type="submit"
          >
            Crear
          </button>
        </div>
      </form>
    </div>
    <mat-divider></mat-divider>
    <div>
      <h3 class="py-3 text-2xl font-semibold">Mis eventos</h3>
      <div class="flex flex-col gap-1">
        <ng-container *ngFor="let item of eventDaySelected">
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>{{ item.hour }}</mat-panel-title>
              <mat-panel-description>
                {{ item.title }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="flex justify-between">
              <p>{{ item.description }}</p>
              <p
                class="text-red-600 cursor-pointer"
                (click)="deleteEvent(item)"
              >
                Borrar
              </p>
            </div>
          </mat-expansion-panel>
        </ng-container>
      </div>
    </div>
  </mat-dialog-content>
</div>
