mat-stepper {
  background-color: transparent !important;
}

::ng-deep .mat-step-icon {
  background-color: white !important;
}

::ng-deep .mat-step-icon-selected {
  background-color: white !important;
}

::ng-deep .mat-horizontal-stepper-header {

  height: auto !important;
  padding: 0px !important;
  pointer-events: none !important;
  display: none !important;
}

::ng-deep .mat-step-label {
  display: none !important;
}

::ng-deep .mat-stepper-horizontal-line {
  flex: none !important;
  width: 4rem !important;
}

::ng-deep .mat-horizontal-stepper-header-container {
  justify-content: center;
}

::ng-deep .mat-mdc-radio-group {
  text-align: start;
}

::ng-deep .mat-stepper-horizontal-line{
    border: unset !important;
}