<div class="w-[100%] py-24 flex max-lg:flex-col gap-[5%] max-lg:gap-[30px]">
  <div class="w-[50%] max-lg:w-[100%]">
    <mat-card
      class="demo-inline-calendar-card w-[400px] max-lg:w-[60%] max-lg:m-auto max-sm:w-[100%]"
    >
      <mat-calendar
        [dateClass]="dateClass"
        [selected]="selected"
        (selectedChange)="onSelect($event)"
      ></mat-calendar>
    </mat-card>
  </div>
  <div class="w-[50%] max-lg:w-[100%]">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias provident ut
    error ullam natus? Atque, voluptatem error neque aliquam libero tempore
    totam animi sequi quibusdam, nihil assumenda mollitia. Dolorem,
    voluptatibus.
  </div>
</div>
<h2 mat-dialog-title>Install Angular</h2>

