.demo-inline-calendar-card {
  border-radius: 15px;
}

button.example-custom-date-class {
  background: orange !important;
  border-radius: 100% !important;
  //   width: 90%;
  //   height: 90%;
}

button.example-custom-date-class-none {
  background: unset !important;
  //   width: 90%;
  //   height: 90%;
}

.spinner-loading {
  background-color: unset !important;
  box-shadow: unset !important;
}

.mat-calendar-header {
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #DA057A!important;
}

.mat-mdc-button .mdc-button__label{
  color: white;
}

.mat-calendar-arrow {
  fill: white!important;
}

button.example-custom-date-class{
  color: white!important;
  background: #A35EDF!important;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  border-color: #A35EDF!important;
}

// .mat-calendar-body-cell-content {
//   top: 0% !important;
//   left: 0% !important;
//   width: 100% !important;
//   height: 100% !important;
// }

// .calendar-dialog-container {
//   width: 60px !important;
// }
