.demo-inline-calendar-card {
  border-radius: 15px;
}

button.example-custom-date-class {
  background: orange !important;
  border-radius: 100% !important;
  //   width: 90%;
  //   height: 90%;
}

button.example-custom-date-class-none {
  background: unset !important;
  //   width: 90%;
  //   height: 90%;
}

.spinner-loading {
  background-color: unset !important;
  box-shadow: unset !important;
}

// .mat-calendar-body-cell-content {
//   top: 0% !important;
//   left: 0% !important;
//   width: 100% !important;
//   height: 100% !important;
// }

// .calendar-dialog-container {
//   width: 60px !important;
// }
