<div class="p-5">
  <mat-dialog-content class="text-center !m-auto">
    <h3 class="text-femfy-800 text-2xl font-bold pb-3">Hora de aviso</h3>
    <input
      #time
      type="time"
      class="rounded-full outline-none p-3"
      value="{{ userResponse.emotion }}"
    />
    <div class="mt-4">
      <button
        (click)="saveHour(time.value)"
        class="bg-femfy-400 text-white py-[10px] px-[20px] rounded-[20px] me-3"
        type="submit"
      >
        Confirmar
      </button>
      <button
        class="bg-femfy-800 text-white py-[10px] px-[20px] rounded-[20px]"
        (click)="closeDialog()"
      >
        Cancelar
      </button>
    </div>
  </mat-dialog-content>
</div>
