<ng-container *ngIf="!isLogin">
  <app-header-default></app-header-default>
  <h2>Home no logueado</h2>
  <h2>{{ title }}</h2>
  <button routerLink="login-usuario">Login usuario link</button>
  <button routerLink="registro-usuario">Registro usuario link</button>
  <a></a>
  <br />
  <button (click)="changeLayout()">Cambiar layout</button>
</ng-container>

<ng-container *ngIf="isLogin">
  <app-header-usuario></app-header-usuario>
  <h2>Home logueado</h2>
  <h2>{{ title }}</h2>
  <button (click)="changeLayout()">Cambiar layout</button>
  <app-footer-usuario></app-footer-usuario>
</ng-container>
