<div class="bg-white rounded-[20px]">
  <h4 class="text-2xl max-md:text-xl p-[20px] text-femfy-800 border-b-4 border-femfy-800 font-semibold">Información de usuario
    (Menstruante)</h4>
  <div class="px-5">
    <div class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start">
      <span class="font-medium">¿Qué día fue tu última menstruación?</span>
      <form class="flex gap-3 my-2 md:my-0">
        <input matInput type="date" class="text-gray-500 text-center rounded-full w-48 p-3 mb-5 me-3" />
        <button mat-icon-button><mat-icon class="text-femfy-600">save</mat-icon></button>
      </form>
    </div>
    <mat-divider></mat-divider>
    <div class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start">
      <span class="font-medium">¿Qué duración tuvo aproximadamente ese último ciclo?</span>
      <form class="flex gap-3 my-2 md:my-0">
        <input type="number" class="text-center rounded-full w-48 p-3 me-3" />
        <button mat-icon-button><mat-icon class="text-femfy-600">save</mat-icon></button>
      </form>
    </div>
    <mat-divider></mat-divider>
    <div class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start">
      <span class="font-medium">¿Sos regular?</span>
      <form class="flex gap-3 items-center my-2 md:my-0">
        <mat-slide-toggle color="accent">Sí</mat-slide-toggle>
        <button mat-icon-button><mat-icon class="text-femfy-600">save</mat-icon></button>
      </form>
    </div>
    <mat-divider></mat-divider>
    <div class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start">
      <span class="font-medium">¿Qué duración tienen regularmente tu ciclos?</span>
      <form class="flex gap-3 my-2 md:my-0">
        <input type="number" class="text-center rounded-full w-48 p-3 me-3" />
        <button mat-icon-button><mat-icon class="text-femfy-600">save</mat-icon></button>
      </form>
    </div>
    <mat-divider></mat-divider>
    <div class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start">
      <span class="font-medium"> ¿Qué duración tuvo el sangrado?</span>
      <form class="flex gap-3 my-2 md:my-0">
        <input type="number" class="text-center rounded-full w-48 p-3 me-3" />
        <button mat-icon-button><mat-icon class="text-femfy-600">save</mat-icon></button>
      </form>
    </div>
  </div>
</div>