<div class="bg-white p-4 rounded-[20px]">
  <h4 class="font-semibold">Información de usuario- Menstruante</h4>
  <div class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start">
    <span>¿Qué día fue tu última menstruación?</span>
    <form class="flex gap-3">
      <input matInput type="date" class="text-gray-500 text-center rounded-full w-48 p-3 mb-5 me-3 bg-slate-300" />
      <button mat-icon-button><mat-icon>save</mat-icon></button>
    </form>
  </div>
  <mat-divider></mat-divider>
  <div class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start">
    <span>¿Qué duración tuvo aproximadamente ese último ciclo?</span>
    <form class="flex gap-3">
      <input type="number" class="text-gray-500 text-center rounded-full w-48 p-3 mb-5 me-3 bg-slate-300" />
      <button mat-icon-button><mat-icon>save</mat-icon></button>
    </form>
  </div>
  <mat-divider></mat-divider>
  <div class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start">
    <span>¿Sos regular?</span>
    <form class="flex gap-3 items-center">
      <mat-slide-toggle color="accent">Sí</mat-slide-toggle><button mat-icon-button><mat-icon>save</mat-icon></button>
    </form>
  </div>
  <mat-divider></mat-divider>
  <div class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start">
    <span>¿Qué duración tienen regularmente tu ciclos?</span>
    <form class="flex gap-3">
      <input type="number" class="text-gray-500 text-center rounded-full w-48 p-3 mb-5 me-3 bg-slate-300" />
      <button mat-icon-button><mat-icon>save</mat-icon></button>
    </form>
  </div>
  <mat-divider></mat-divider>
  <div class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start">
    <span> ¿Qué duración tuvo el sangrado?</span>
    <form class="flex gap-3">
      <input type="number" class="text-gray-500 text-center rounded-full w-48 p-3 mb-5 me-3 bg-slate-300" />
      <button mat-icon-button><mat-icon>save</mat-icon></button>
    </form>
  </div>
</div>