<div class="bg-[#f2d4fa] pt-28 pb-32">
  <div class="w-[100%] max-w-[1280px] m-auto px-[3vw] md:p-0">
    <div class="flex justify-between mb-5">
      <div class="lg:flex !font-medium text-femfy-800 text-[30px]">
        <a routerLink="/foro">Comunidad > </a>
        <a class="ml-2">{{ topic?.title }}</a>
      </div>
      <button
        *ngIf="posts.length > 0"
        (click)="openPostRegister()"
        class="bg-femfy-400 text-white font-medium py-[10px] px-[20px] rounded-[20px] my-5 md:my-0 max-lg:hidden"
      >
        Crear una nueva charla
      </button>
    </div>

    <div *ngIf="posts.length > 0; else emptyPosts">
      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-10">
        <div *ngFor="let post of posts">
          <div class="w-full shadow-2xl rounded-[20px]">
            <div class="bg-[#7c2385] rounded-t-[20px] shadow-xl h-[56px] p-3">
              <h3 class="text-2xl text-white font-semibold">
                {{ cutText(post.title) }}
              </h3>
            </div>
            <div
              class="bg-white w-full rounded-b-[20px] h-[240px] p-5 flex flex-col justify-between"
            >
              <div class="mb-3">
                <p class="text-[#7c2385] font-bold text-2xl">
                  Por: {{ post.username }}
                </p>
                <span class="text-md text-gray-500">{{
                  post.createdDate | date : "dd/MM/yy HH:mm"
                }}</span>
                <p class="mt-3">{{ formatText(post.content) }}</p>
              </div>
              <div class="flex justify-between">
                <span class="text-[#7c2385]"
                  >{{ post.replies.length }} comentarios</span
                >
                <a class="flex" routerLink="/post/{{ post.id }}">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-plus m-auto"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                    />
                  </svg>
                  Ver mas
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button
      *ngIf="posts.length > 0"
      (click)="openPostRegister()"
      class="hidden max-lg:flex max-lg:mb-20 bg-femfy-400 text-white font-medium py-[10px] px-[20px] rounded-[20px] my-5 md:my-0"
    >
      Crear una nueva charla
    </button>

    <ng-template #emptyPosts>
      <div class="w-full">
        <div class="lg:flex w-full bg-white rounded-[20px] max-lg:mb-20">
          <img
            class="w-[500px] h-[500px] rounded-[20px] max-lg:h-[380px] max-lg:w-[380px]"
            src="https://img.freepik.com/free-vector/curiosity-search-concept-illustration_114360-10670.jpg?w=826&t=st=1698810066~exp=1698810666~hmac=e47964787c2e0ddc5abcc50655821d8002e4dce66668ba60cc2d6e0dc38165ff"
          />
          <div class="text-center m-auto px-10 lg:px-20">
            <p class="font-bold text-femfy-800 text-4xl mb-10">
              Oops! parece que no hay publicaciones por el momento
            </p>
            <p class="font-medium text-gray-600 text-4xl mb-10">
              ¡Sé la primera en publicar!
            </p>

            <button
              class="bg-femfy-400 text-xl font-bold text-white py-2 px-3 rounded-[20px] mb-10"
              (click)="openPostRegister()"
            >
              Crea una charla
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
