<div class="bg-[#f2d4fa] px-[3vw]">
  <div class="w-[100%] bg-cover bg-[#f2d4fa] pt-32 pb-[100px] max-w-[1280px] m-auto">
    <div class="flex justify-between mb-5 pt-[20px]">
      <div class="flex !font-medium text-femfy-800 text-[30px]">
        <a routerLink="/information">Información personal</a>
      </div>
    </div>
    <div>
      <div [ngSwitch]="typeUser">
        <div *ngSwitchCase="1">
          <app-information-user></app-information-user>
        </div>
        <div *ngSwitchCase="2">
          <app-information-menopause></app-information-menopause>
        </div>
        <div *ngSwitchCase="3">
          <app-information-other></app-information-other>
        </div>
      </div>
    </div>
    <div class="my-10">
      <app-information-historial></app-information-historial>
    </div>
  </div>
</div>
