<div class="bg-[#FEA8B1] px-[3vw]">
  <div class="w-[100%] bg-cover bg-[#FEA8B1] pt-24 py-[100px] max-w-[1280px] m-auto">
    <div class="container text-center mx-auto">
      <h1 class="text-5xl font-bold mb-5">Foro</h1>
      <span class="text-2xl text-white font-medium">Bienvenida al foro de femfy
      </span>
      <ng-container *ngIf="topics.length < 1">
        <div class="h-[700px]"></div>
      </ng-container>
      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-x-32 gap-y-10 mt-10">
        <div *ngFor="let topic of topics">
          <div class="w-full mx-auto shadow-2xl rounded-[20px] relative mb-10">
            <a [href]="getRedirectUrl(topic.id)">
              <img [src]="getImageUrl(topic.image)" class="w-full rounded-[20px]" />
              <div class="bg-[#DA047A] rounded-full absolute bottom-[-20px] left-0 w-full">
                <h3 class="text-xl text-white font-semibold p-3">{{ topic.title }}</h3>
              </div>
            </a>
          </div>
          <span class="block text-lg font-semibold">{{ topic.forumPosts.length }} mensajes</span>
        </div>
      </div>
    </div>
  </div>
</div>