<h5 class="p-[20px] text-black font-semibold text-[20px]">
  Historial de clicos
</h5>
<mat-divider></mat-divider>
<div class="p-[20px] flex flex-col gap-[15px]">
  <div>
    <h5>Ciclo actual: 10 días</h5>
    <span>Inicio 5 ago</span>
    <br />
    <br />
    <mat-progress-bar
      [color]="color"
      [mode]="mode"
      [value]="value"
      [bufferValue]="bufferValue"
    >
    </mat-progress-bar>
  </div>
  <div>
    <h5>70 días</h5>
    <span>21 jun - 5 ago</span>
    <br />
    <br />
    <mat-progress-bar
      [color]="color"
      [mode]="mode"
      [value]="value"
      [bufferValue]="bufferValue"
    >
    </mat-progress-bar>
  </div>
  <div>
    <h5>31 días</h5>
    <span>31 may - 21 jun</span>
    <br />
    <br />
    <mat-progress-bar
      [color]="color"
      [mode]="mode"
      [value]="value"
      [bufferValue]="bufferValue"
    >
    </mat-progress-bar>
  </div>
</div>
