<div class="max-h-[500px] overflow-y-scroll pe-[20px]">
  <div>
    <h5 class="font-semibold text-white">Estas en tu ciclo actual</h5>
    <h5 class="font-semibold text-white">
      Inicio:
      <span class="font-normal">{{
        actualDurationCycle | date : "dd MMM"
      }}</span>
    </h5>
    <!--  <mat-progress-bar
      [color]="color"
      [mode]="mode"
      [value]="value"
      [bufferValue]="bufferValue"
    >
    </mat-progress-bar>-->
  </div>
  <br />
  <mat-divider></mat-divider>
  <br />
  <div class="flex flex-col gap-4">
    <ng-container *ngFor="let item of cycleHistorial">
      <div>
        <h5 class="font-semibold">
          Duración del ciclo:
          <span class="font-normal"
            >{{
              calculateCycleDurantion(item.dateBeging, item.dateEnd)
            }}
            días</span
          >
        </h5>
        <h5 class="font-semibold">
          Fecha:
          <span class="font-normal"
            >{{ item.dateBeging | date : "dd MMM" }} al
            {{ item.dateEnd | date : "dd MMM" }}</span
          >
        </h5>
        <h5 class="font-semibold">
          Duración del perdiodo:
          <span class="font-normal">{{ item.daysOfBleeding }} días </span>
        </h5>
        <!-- <mat-progress-bar
          [color]="'primary'"
          [mode]="mode"
          [value]="value"
          [bufferValue]="bufferValue"
        >
        </mat-progress-bar
        > -->
      </div>
      <mat-divider></mat-divider>
    </ng-container>
  </div>
</div>
