<div class="p-5">
  <div class="flex justify-end px-5">
    <button (click)="closeDialog()" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-dialog-content class="!m-auto">
    <h3 class="pb-3 text-2xl font-semibold">Borrar ciclo</h3>
    <p class="pb-2">Al borrar el ciclo no permanecerá en su historial.</p>
    <div class="pb-3">
      <p class="font-bold">¿Desea borrar el ciclo?</p>
    </div>
    <div class="flex justify-between gap-4">
      <button class="flex-1 bg-[#de84ee] text-white py-[10px] px-[20px] rounded-[20px]" (click)="deleteCycle(cycleChart)">Si</button>
      <button class="flex-1 bg-[#7c2385] text-white py-[10px] px-[20px] rounded-[20px]" (click)="closeDialog()">No</button>
    </div>
  </mat-dialog-content>
</div>
