<app-header-usuario></app-header-usuario>
<div class="relative">
  <app-loader></app-loader>
  <router-outlet></router-outlet>
  <!-- <div class="fixed bottom-24 z-50 right-10 max-lg:right-3">
    <button mat-fab color="accent" (click)="openBottomSheet()">
      <mat-icon>smart_toy</mat-icon>
    </button>
  </div> -->
  <ng-container *ngIf="isChatBot">
    <div class="fixed bottom-24 z-50 right-10 max-lg:right-3">
      <button
        mat-fab
        [matMenuTriggerFor]="menu"
        color="accent"
        class="max-lg:!hidden"
      >
        <mat-icon>smart_toy</mat-icon>
      </button>
      <button
        mat-fab
        color="accent"
        (click)="openBottomSheet()"
        class="max-lg:!block !hidden"
      >
        <mat-icon>smart_toy</mat-icon>
      </button>
    </div>
  </ng-container>
</div>
<mat-menu #menu="matMenu">
  <div class="h-[50vh] !max-sm:h-[90vh] max-lg:w-auto">
    <iframe
      style="width: 100%; height: 100%"
      src="https://widget.writesonic.com/CDN/index.html?service-base-url=https://api.botsonic.ai&token=385b2825-4921-4791-8c73-f0cb275f4766&base-origin=https://bot.writesonic.com&instance-name=Botsonic&standalone=true&page-url=https://bot.writesonic.com/b66392de-ca79-4609-8a79-d9970103e70f?t=share&workspace_id=020ad082-7453-42d1-a284-b3246933fa90"
    >
    </iframe>
  </div>
</mat-menu>
<app-footer-usuario></app-footer-usuario>
<app-mobile-menu></app-mobile-menu>
