<app-header-usuario></app-header-usuario>
<div class="container-2xl bg-[#FEA8B1] w-[100%]">
  <app-loader></app-loader>
  <router-outlet></router-outlet>
</div>
<ng-container *ngIf="scrolledUp">
  <div
    class="bg-white fixed bottom-0 lg:hidden w-[100vw] rounded-t-2xl shadow-inner z-50"
  >
    <div
      class="flex max-md:justify-between max-lg:justify-start max-lg:gap-4 py-[5px] px-[5vw] items-center"
    >
      <div class="flex flex-col justify-center items-center">
        <button mat-icon-button routerLink="/">
          <mat-icon
            [ngClass]="{
              'text-gray-400': !isActiveRoute('/'),
              'text-purple-700': isActiveRoute('/')
            }"
            >home</mat-icon
          >
        </button>
        <span
          class="text-[10px]"
          [ngClass]="{
            'font-normal': !isActiveRoute('/'),
            'font-bold': isActiveRoute('/')
          }"
          >Inicio</span
        >
      </div>
      <div class="flex flex-col justify-center items-center">
        <button routerLink="calendario" mat-icon-button>
          <mat-icon
            [ngClass]="{
              'text-gray-400': !isActiveRoute('/calendario'),
              'text-purple-700': isActiveRoute('/calendario')
            }"
            >event</mat-icon
          >
        </button>
        <span
          class="text-[10px]"
          [ngClass]="{
            'font-normal': !isActiveRoute('/calendario'),
            'font-bold': isActiveRoute('/calendario')
          }"
          >Calendario</span
        >
      </div>
      <div class="flex flex-col justify-center items-center">
        <button mat-icon-button>
          <mat-icon class="text-gray-400">source</mat-icon>
        </button>
        <span class="text-[10px]">Estudios</span>
      </div>
      <!-- <button mat-icon-button>
        <mat-icon class="text-blue-600">chat_bubble</mat-icon>
      </button> -->
      <div class="flex flex-col justify-center items-center">
        <button mat-icon-button>
          <mat-icon class="text-gray-400">groups</mat-icon>
        </button>
        <span class="text-[10px]">Comunidad</span>
      </div>
      <div
        class="max-lg:flex-1 max-lg:flex max-lg:justify-end max-md:flex-grow-0"
      >
        <div class="flex flex-col justify-center items-center">
          <button mat-icon-button>
            <mat-icon class="text-gray-400">more_vert</mat-icon>
          </button>
          <span class="text-[10px]">Más</span>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<app-chatbot></app-chatbot>
<app-footer-usuario></app-footer-usuario>
