/** No CSS for this example */
//DIAS CON EVENTOS
button.selected {
  background: rgb(255, 242, 0) !important;
  border-radius: 100% !important;
}

.selected {
  background: rgb(255, 242, 0) !important;
  border-radius: 100% !important;
}

button.init-cycle {
  background: rgb(255, 21, 0) !important;
  border-radius: 100% !important;
}

.init-cycle {
  background: rgb(255, 21, 0) !important;
  border-radius: 100% !important;
}

.drop-calendar {
  width: 30rem;
}
