/** No CSS for this example */
button.selected {
  background: rgb(255, 242, 0) !important;
  border-radius: 100% !important;
}

.selected {
  background: rgb(255, 242, 0) !important;
  border-radius: 100% !important;
}

.drop-calendar {
  width: 30rem;
}
