<div class="w-[800px] bg-[#FACAEC] p-4">
    <div class="text-center font-bold text-3xl my-5 text-[#AF6FE8]">Nueva publicación</div>
    <form [formGroup]="formPost" (ngSubmit)="registerPost()">
        <div class="mx-auto w-10/12">
            <div class="bg-white flex flex-col text-gray-800 rounded border border-gray-300 p-5 mb-5">
                <input class="border border-gray-300 p-2 mb-4 outline-none" placeholder="Título" formControlName="title" type="text">
                <textarea class="p-3 h-60 border border-gray-300 outline-none" placeholder="Escribe tu mensaje" formControlName="content"></textarea>
            </div>

            <!-- Buttons -->
            <div class="buttons flex justify-end mb-5">
                <button type="submit"
                    class="bg-[#AF6FE8] text-xl p-1 px-4 font-bold text-gray-200 rounded-[20px]">Publicar</button>
            </div>
        </div>
    </form>
</div>