<div class="w-[700px] bg-white p-4">
    <div class="text-center font-bold text-3xl my-5 text-femfy-800">Nueva publicación</div>
    <form [formGroup]="formPost" (ngSubmit)="registerPost()">
        <div class="mx-auto w-10/12">
            <div class="bg-white flex flex-col text-gray-800 p-5 mb-5">
                <label class="block text-gray-600 text-xl font-medium mb-2">Título</label>
                <input class="border border-gray-300 p-3 mb-4 rounded-[20px] outline-none" formControlName="title" type="text">

                <label class="block text-gray-600 text-xl font-medium mb-2">Contenido</label>
                <textarea class="p-3 h-60 border border-gray-300 rounded-[20px] outline-none" placeholder="Escribe tu mensaje" formControlName="content"></textarea>

                <div class="buttons flex justify-end mt-5">
                    <button type="submit"
                        class="bg-femfy-400 text-xl p-1 px-4 font-bold text-gray-200 rounded-[20px]">Publicar</button>
                </div>
            </div>
        </div>
    </form>
</div>