<footer class="bg-white max-lg:mb-[4rem]">
  <div #footer class="py-3 w-full text-[#7c2385] max-w-[1280px] m-auto">
    <div class="max-w-full-xl p-4 md:flex md:items-center md:justify-between">
      <span class="sm:text-center">© 2023 FEMFY</span>
      <ul class="flex flex-wrap items-center font-medium mt-3 md:mt-0">
        <!--<li class="my-auto">
          <a href="" class="mr-4 hover:underline md:mr-6">Nosotros</a>
        </li>-->
        <li class="my-auto">
          <a
            href="mailto:femfy2023@gmail.com?Subject=Contacto%20con%20femfyapp"
            class="mr-4 hover:underline md:mr-6"
            >Contacto</a
          >
        </li>
        <li class="my-auto">
          <a
            href="https://www.instagram.com/femfyapp/"
            target="_blank"
            class="hover:underline"
          >
            <span>Instagram</span><i class="fa fa-instagram ml-3"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
