<footer #footer class="bg-[#A35EDF] py-3 w-full px-[5vw] text-white">
    <div class="max-w-full-xl p-4 md:flex md:items-center md:justify-between">
        <span class="sm:text-center">© 2023 FEMFY</span>
        <ul class="flex flex-wrap items-center font-medium">
            <li class="my-auto">
                <a href="#" class="mr-4 hover:underline md:mr-6 ">Nosotros</a>
            </li>
            <li class="my-auto">
                <a href="#" class="mr-4 hover:underline md:mr-6">Contacto</a>
            </li>
            <li class="my-auto">
                <a href="https://www.instagram.com/femfyapp/" target="_blank" class="hover:underline">
                    <span>Instagram</span><i class="fa fa-instagram ml-3"></i></a>
            </li>
        </ul>
    </div>
</footer>