<footer #footer class="py-4 text-white bottom-0 md:z-50 bg-[#FEA8B1] px-[5vw] text-center items-center">
    <div class="flex flex-col md:flex-row justify-center">
        <div class="gx ua adg ark arx cfk ddh md:flex-row">
            <nav class="hi yd bxr cbn ccl flex gap-4" aria-label="Footer">
                <div class="asw"><a href="#" class="awa awp axs blb">Nosotros</a></div>
                <div class="asw"><a href="#" class="awa awp axs blb">Contacto</a></div>
            </nav>
       
            <div class="flex items-center">
                <div><a href="#" class="axp bkx mr-5"><span class="t">GitHub </span> <i class="fa fa-github fa-sm"></i> </a></div>
                <div><a href="#" class="axp bkx"><span class="t">Instagram </span> <i class="fa fa-instagram" aria-hidden="true"></i> </a></div>
            </div>
            <p class="kw avl awc awo axr justify-center">© 2023 FEMFY</p>
        </div>
    </div>
</footer>
