.without-background {
  background-color: unset !important;
  box-shadow: unset !important;
}

.spinner-loading {
  background-color: unset !important;
  box-shadow: unset !important;
}

.without-background mat-dialog-container {
  background-color: unset !important;
  box-shadow: unset !important;
}
