<div class="bg-white p-4 rounded-[20px]">
  <h4 class="text-2xl max-md:text-xl p-[20px] text-femfy-800 border-b-4 border-femfy-800 font-semibold">Información de usuario (Menopausica)</h4>
  <div class="px-5">
    <div class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start">
      <span class="font-medium my-2 md:my-0">¿Estás experimentando un aumento de peso?</span>
      <form class="flex gap-3 items-center" [formGroup]="formaumentoDePeso" (ngSubmit)="submit1()">
        <mat-slide-toggle color="accent" formControlName="aumentoDePeso">Sí</mat-slide-toggle>
        <button mat-icon-button type="submit"><mat-icon class="text-femfy-600">save</mat-icon></button>
      </form>
    </div>
    <mat-divider></mat-divider>
    <div class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start">
      <span class="font-medium my-2 md:my-0">¿Has notado cambios en la libido?</span>
      <form class="flex gap-3 items-center" [formGroup]="formchangesInLibido" (ngSubmit)="submit2()">
        <mat-slide-toggle color="accent" formControlName="changesInLibido">Sí</mat-slide-toggle>
        <button mat-icon-button type="submit"><mat-icon class="text-femfy-600">save</mat-icon></button>
      </form>
    </div>
    <mat-divider></mat-divider>
    <div class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start">
      <span class="font-medium my-2 md:my-0">¿Ha experimentado cambios en la regularidad o intensidad de su ciclo menstrual
        últimamente?</span>
      <form class="flex gap-3 items-center" [formGroup]="formchangesInMenstrualCycle" (ngSubmit)="submit3()">
        <mat-slide-toggle color="accent" formControlName="changesInMenstrualCycle">Sí</mat-slide-toggle>
        <button mat-icon-button type="submit"><mat-icon class="text-femfy-600">save</mat-icon></button>
      </form>
    </div>
    <mat-divider></mat-divider>
    <div class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start">
      <span>¿Ha notado alteraciones en la condición de su piel o cabello recientemente?</span>
      <form class="flex gap-3 items-center my-2 md:my-0" [formGroup]="formchangesInSkinAndHair" (ngSubmit)="submit4()">
        <mat-slide-toggle color="accent" formControlName="changesInSkinAndHair">Sí</mat-slide-toggle>
        <button mat-icon-button type="submit"><mat-icon class="text-femfy-600">save</mat-icon></button>
      </form>
    </div>
    <mat-divider></mat-divider>
    <div class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start">
      <span class="font-medium">¿Ha experimentado alguna disminución en la densidad de sus huesos o le han diagnosticado
        osteoporosis durante o después de la menopausia?</span>
      <form class="flex gap-3 items-center my-2 md:my-0" [formGroup]="formlossOfBoneDensity" (ngSubmit)="submit5()">
        <mat-slide-toggle color="accent" formControlName="lossOfBoneDensity">Sí</mat-slide-toggle>
        <button mat-icon-button type="submit"><mat-icon class="text-femfy-600">save</mat-icon></button>
      </form>
    </div>
    <mat-divider></mat-divider>
    <div class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start">
      <span class="font-medium">¿Ha notado cambios significativos en su estado de ánimo durante la menopausia?</span>
      <form class="flex gap-3 items-center my-2 md:my-0" [formGroup]="formmoodChanges" (ngSubmit)="submit6()">
        <mat-slide-toggle color="accent" formControlName="moodChanges">Sí</mat-slide-toggle>
        <button mat-icon-button type="submit"><mat-icon class="text-femfy-600">save</mat-icon></button>
      </form>
    </div>
    <mat-divider></mat-divider>
    <div class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start">
      <span class="font-medium">¿Ha experimentado dificultades para conciliar el sueño o mantener un sueño constante
        durante la menopausia?</span>
      <form class="flex gap-3 items-center my-2 md:my-0" [formGroup]="formsleepingDifficulties" (ngSubmit)="submit7()">
        <mat-slide-toggle color="accent" formControlName="sleepingDifficulties">Sí</mat-slide-toggle>
        <button mat-icon-button type="submit"><mat-icon class="text-femfy-600">save</mat-icon></button>
      </form>
    </div>
    <mat-divider></mat-divider>
    <div class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start">
      <span class="font-medium">Los sofocos, ¿han sido una experiencia en tu transición a la menopausia?</span>
      <form class="flex gap-3 items-center my-2 md:my-0" [formGroup]="formsuffocation" (ngSubmit)="submit8()">
        <mat-slide-toggle color="accent" formControlName="suffocation">Sí</mat-slide-toggle>
        <button mat-icon-button type="submit"><mat-icon class="text-femfy-600">save</mat-icon></button>
      </form>
    </div>
    <mat-divider></mat-divider>
    <div class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start">
      <span class="font-medium">¿Has experimentado sequedad vaginal durante la menopausia?</span>
      <form class="flex gap-3 items-center my-2 md:my-0" [formGroup]="formvaginalDryness" (ngSubmit)="submit9()">
        <mat-slide-toggle color="accent" formControlName="vaginalDryness">Sí</mat-slide-toggle>
        <button mat-icon-button type="submit"><mat-icon class="text-femfy-600">save</mat-icon></button>
      </form>
    </div>
  </div>
</div>