<div class="h-screen py-10 mt-20">
  <div class="text-white p-5">
    <div class="md:w-2/5 m-auto">
      <h1 class="text-4xl text-center font-bold">
        Ayudanos a personalizar tu experiencia respondiento algunas pregúntas rápidas.
      </h1>

      <div class="mt-10">
        <div class="bg-[#FACAEC] rounded-[20px] p-12 drop-shadow-xl flex flex-col items-center">

          <img class="w-[100px] mb-5" src="./assets/images/isotipo.svg" />
          <h2 class="text-[20px] font-bold text-center mb-14">
            <app-pregunta></app-pregunta>
          </h2>

          <form class="flex flex-col gap-[14px] w-[100%]">

            <mat-radio-group class="flex flex-col w-48 m-auto mb-5" aria-label="Select an option">
              <mat-radio-button value="1">Si</mat-radio-button>
              <mat-radio-button value="2">No</mat-radio-button>
            </mat-radio-group>

            <button (click)="mostrarSiguientePregunta()"
              class="bg-[#A35EDF] rounded-[20px] py-[10px] w-48 m-auto mb-3"
              type="submit">
              Siguiente
            </button>

          </form>

          <a routerLink="/calendario" class="text-white mt-2 hover:underline">Omitir por ahora.</a>

        </div>
      </div>
    </div>
  </div>
</div>