<div class="py-[100px] mt-20 bg-[#FEA8B1] px-[3vw] max-md:pt-[0px]">
  <div class="text-white p-5">
    <div class="m-auto mb-[20px]">
      <h1
        class="text-4xl text-center font-bold max-md:text-xl max-sm:text-base max-w-[1280px] m-auto"
      >
        Ayudanos a personalizar tu experiencia respondiendo algunas preguntas
        rápidas.
      </h1>
    </div>
  </div>

  <div class="bg-[#FACAEC] rounded-[20px] drop-shadow-xl max-w-[1080px] m-auto">
    <div [ngSwitch]="questionType">
      <div *ngSwitchCase="1"><app-pregunta></app-pregunta></div>
      <div *ngSwitchCase="2">
        <app-question-menopausica></app-question-menopausica>
      </div>
      <div *ngSwitchCase="3"><app-question-otro></app-question-otro></div>
      <div *ngSwitchDefault>
        <mat-stepper #stepper>
          <mat-step>
            <p
              class="text-2xl text-black !my-5 text-center font-semibold max-sm:text-base"
            >
              ¿Sos una persona que está transitando la menstruación?
            </p>
            <div class="flex justify-center">
              <mat-radio-group
                class="flex flex-col mb-5 gap-3"
                aria-label="Select an option"
              >
                <mat-radio-button
                  value="1"
                  (click)="selectQuestionByTypeUser('1')"
                  ><span class="max-sm:text-sm"> Si </span></mat-radio-button
                >
                <mat-radio-button
                  value="2"
                  (click)="selectQuestionByTypeUser('2')"
                  ><span class="max-sm:text-sm"
                    >No, estoy en estapa de menopausia</span
                  ></mat-radio-button
                >
                <mat-radio-button
                  value="3"
                  (click)="selectQuestionByTypeUser('3')"
                  class="max-sm:text-base"
                  ><span class="max-sm:text-sm"
                    >No, por el momento no estoy en estapa de menstruación</span
                  ></mat-radio-button
                >
              </mat-radio-group>
            </div>
          </mat-step>
        </mat-stepper>
      </div>
    </div>
  </div>
</div>
<!-- <div class="mt-10">
  <div
    class="bg-[#FACAEC] rounded-[20px] p-12 drop-shadow-xl flex flex-col items-center"
  >
    <img class="w-[100px] mb-10" src="./assets/images/isotipo.svg" />
    <h2 class="text-[20px] font-bold text-center mb-10">
      <app-pregunta></app-pregunta>
    </h2>
  </div>
</div> -->
