<div class="py-10 m-auto">
  <div [ngSwitch]="questionType">
    <div *ngSwitchCase="1"><app-pregunta></app-pregunta></div>
    <div *ngSwitchCase="2">
      <app-question-menopausica></app-question-menopausica>
    </div>
    <div *ngSwitchCase="3"><app-question-otro></app-question-otro></div>
    <div *ngSwitchDefault>
      <mat-stepper #stepper>
        <mat-step>
          <p class="text-3xl text-[#7c2385] mb-10 text-center font-bold max-sm:text-xl">
            ¿Sos una persona que menstrúa?
          </p>
          <div class="w-full md:w-1/2 m-auto">
            <mat-radio-group>
              <mat-radio-button value="1" (click)="selectQuestionByTypeUser('1')"
                class="bg-white custom-radio-button py-5 p-3 rounded-lg">
                <span class="font-semibold">Si</span>
              </mat-radio-button>
              <mat-radio-button value="2" (click)="selectQuestionByTypeUser('2')"
                class="bg-white custom-radio-button py-5 p-3 rounded-lg">
                <span class="font-semibold">No, estoy transitando la menopausia</span>
              </mat-radio-button>
              <mat-radio-button value="3" (click)="selectQuestionByTypeUser('3')"
                class="bg-white custom-radio-button py-5 p-3 rounded-lg">
                <span class="font-semibold">No, por otro motivo</span>
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
  <div class="flex justify-end px-5">
    <button (click)="closeDialog()" class="text-femfy-600 underline self-end">Cancelar</button>
  </div>
</div>