<div class="w-[100%] h-screen bg-cover bg-gradient-to-r from-pink-600 to-pink-300 flex items-center justify-center gap-[200px]">
    <div class="h-[100%] flex max-md:hidden">
        <img src="../../../../assets/images/fondo-landing-chica.png">
    </div>
    <div class="w-[30%] flex flex-col gap-[80px] max-md:w-[100%] max-md:text-center">
        <h1 class="text-[70px] text-[white] font-extrabold">Tu ciclo en un solo lugar</h1>
        <p class="text-[40px] text-[white]">Conocé tu cuerpo y controlá tus ciclos en una sola plataforma</p>
        <button class="bg-[#D8B4F8] rounded-[20px]  text-[white] py-4 m-auto px-[120px]">Explorá</button>
    </div>
</div>