<div
  class="w-[100%] h-screen bg-cover bg-[#FF97A5] flex items-center pt-24 px-[5vw] xl:gap-[15%]"
>
  <div class="h-[100%] flex max-lg:hidden w-[50%] max-xl:w-[70%]">
    <img
      class="animate-slide-in duration-1000"
      src="../../../../assets/images/fondo-landing-chica.png"
    />
  </div>
  <div
    class="w-[50%] flex flex-col gap-[30px] max-lg:w-[100%] max-lg:text-center max-lg:gap-[40px]  max-xl:w-[30%]"
  >
    <h1 class="text-[70px] text-[white] font-extrabold max-xl:text-[60px] max-lg:text-[40px]">
      Tu ciclo en un solo lugar
    </h1>
    <p class="text-[40px] text-[white] max-xl:text-[30px] max-lg:text-[20px]">
      Conocé tu cuerpo y controlá tus ciclos en una sola plataforma
    </p>
    <button
      class="bg-[#D8B4F8] rounded-[20px] text-[white] py-4 m-auto px-[120px]"
    >
      Explorá
    </button>
  </div>
</div>
