<div class="m-auto">
  <mat-stepper #stepper>
    <!-- another -->
    <mat-step>
      <form>
        <p
          class="text-2xl text-black !my-5 text-center font-semibold max-sm:text-base"
        >
          another
        </p>
        <div class="flex justify-center">
          <mat-radio-group
            class="flex flex-col mb-5 gap-3"
            aria-label="Select an option"
          >
            <mat-radio-button value="1"
              ><span
                class="max-sm:text-sm"
                (change)="updateQuestionHormonal('1', 'another')"
                >Si</span
              ></mat-radio-button
            >
            <mat-radio-button value="0"
              ><span
                class="max-sm:text-sm"
                (change)="updateQuestionHormonal('2', 'another')"
                >No</span
              ></mat-radio-button
            >
          </mat-radio-group>
        </div>
        <div class="text-center">
          <button
            mat-button
            matStepperNext
            type="submit"
            class="!text-white !rounded-full !bg-[#de84ee] !p-5"
          >
            Siguiente
          </button>
        </div>
      </form>
    </mat-step>
    <!-- anotherDescription -->
    <mat-step>
      <form>
        <p
          class="text-2xl text-black !my-5 text-center font-semibold max-sm:text-base"
        >
          anotherDescription
        </p>
        <div class="flex justify-center">
          <textarea
            #anotherDescription
            class="text-gray-500 rounded-md w-[100%] p-3 mb-5"
          ></textarea>
        </div>
        <div class="text-center">
          <button
            mat-button
            matStepperPrevious
            class="!text-white !rounded-full !bg-[#7c2385] !p-5 me-3"
          >
            Volver
          </button>
          <button
            mat-button
            matStepperNext
            type="button"
            (click)="
              updateQuestionHormonal(
                '',
                'anotherDescription',
                anotherDescription.value
              )
            "
            class="!text-white !rounded-full !bg-[#de84ee] !p-5"
          >
            Siguiente
          </button>
        </div>
      </form>
    </mat-step>
    <!-- hyperprolactinemia -->
    <mat-step>
      <form>
        <p
          class="text-2xl text-black !my-5 text-center font-semibold max-sm:text-base"
        >
          hyperprolactinemia
        </p>
        <div class="flex justify-center">
          <mat-radio-group
            class="flex flex-col mb-5 gap-3"
            aria-label="Select an option"
          >
            <mat-radio-button value="1"
              ><span
                class="max-sm:text-sm"
                (change)="updateQuestionHormonal('1', 'hyperprolactinemia')"
                >Si</span
              ></mat-radio-button
            >
            <mat-radio-button value="0"
              ><span
                class="max-sm:text-sm"
                (change)="updateQuestionHormonal('2', 'hyperprolactinemia')"
                >No</span
              ></mat-radio-button
            >
          </mat-radio-group>
        </div>
        <div class="text-center">
          <button
            mat-button
            matStepperNext
            type="submit"
            class="!text-white !rounded-full !bg-[#de84ee] !p-5"
          >
            Siguiente
          </button>
        </div>
      </form>
    </mat-step>
    <!--hypothalamicDisorders -->
    <mat-step>
      <form>
        <p
          class="text-2xl text-black !my-5 text-center font-semibold max-sm:text-base"
        >
          hypothalamicDisorders
        </p>
        <div class="flex justify-center">
          <mat-radio-group
            class="flex flex-col mb-5 gap-3"
            aria-label="Select an option"
          >
            <mat-radio-button value="1"
              ><span
                class="max-sm:text-sm"
                (change)="updateQuestionHormonal('1', 'hypothalamicDisorders')"
                >Si</span
              ></mat-radio-button
            >
            <mat-radio-button value="0"
              ><span
                class="max-sm:text-sm"
                (change)="updateQuestionHormonal('2', 'hypothalamicDisorders')"
                >No</span
              ></mat-radio-button
            >
          </mat-radio-group>
        </div>
        <div class="text-center">
          <button
            mat-button
            matStepperNext
            type="submit"
            class="!text-white !rounded-full !bg-[#de84ee] !p-5"
          >
            Siguiente
          </button>
        </div>
      </form>
    </mat-step>
    <!--hypothyroidism -->
    <mat-step>
      <form>
        <p
          class="text-2xl text-black !my-5 text-center font-semibold max-sm:text-base"
        >
          hypothyroidism
        </p>
        <div class="flex justify-center">
          <mat-radio-group
            class="flex flex-col mb-5 gap-3"
            aria-label="Select an option"
          >
            <mat-radio-button value="1"
              ><span
                class="max-sm:text-sm"
                (change)="updateQuestionHormonal('1', 'hypothyroidism')"
                >Si</span
              ></mat-radio-button
            >
            <mat-radio-button value="0"
              ><span
                class="max-sm:text-sm"
                (change)="updateQuestionHormonal('2', 'hypothyroidism')"
                >No</span
              ></mat-radio-button
            >
          </mat-radio-group>
        </div>
        <div class="text-center">
          <button
            mat-button
            matStepperNext
            type="submit"
            class="!text-white !rounded-full !bg-[#de84ee] !p-5"
          >
            Siguiente
          </button>
        </div>
      </form>
    </mat-step>
    <!--hypothyroidism -->
    <mat-step>
      <form>
        <p
          class="text-2xl text-black !my-5 text-center font-semibold max-sm:text-base"
        >
          insulinResistance
        </p>
        <div class="flex justify-center">
          <mat-radio-group
            class="flex flex-col mb-5 gap-3"
            aria-label="Select an option"
          >
            <mat-radio-button value="1"
              ><span
                class="max-sm:text-sm"
                (change)="updateQuestionHormonal('1', 'insulinResistance')"
                >Si</span
              ></mat-radio-button
            >
            <mat-radio-button value="0"
              ><span
                class="max-sm:text-sm"
                (change)="updateQuestionHormonal('2', 'insulinResistance')"
                >No</span
              ></mat-radio-button
            >
          </mat-radio-group>
        </div>
        <div class="text-center">
          <button
            mat-button
            matStepperNext
            type="submit"
            class="!text-white !rounded-full !bg-[#de84ee] !p-5"
          >
            Siguiente
          </button>
        </div>
      </form>
    </mat-step>
    <!--polycysticOvarySyndrome -->
    <mat-step>
      <form>
        <p
          class="text-2xl text-black !my-5 text-center font-semibold max-sm:text-base"
        >
          polycysticOvarySyndrome
        </p>
        <div class="flex justify-center">
          <mat-radio-group
            class="flex flex-col mb-5 gap-3"
            aria-label="Select an option"
          >
            <mat-radio-button value="1"
              ><span
                class="max-sm:text-sm"
                (change)="
                  updateQuestionHormonal('1', 'polycysticOvarySyndrome')
                "
                >Si</span
              ></mat-radio-button
            >
            <mat-radio-button value="0"
              ><span
                class="max-sm:text-sm"
                (change)="
                  updateQuestionHormonal('2', 'polycysticOvarySyndrome')
                "
                >No</span
              ></mat-radio-button
            >
          </mat-radio-group>
        </div>
        <div class="text-center">
          <button
            mat-button
            matStepperNext
            type="submit"
            class="!text-white !rounded-full !bg-[#de84ee] !p-5"
          >
            Siguiente
          </button>
        </div>
      </form>
    </mat-step>
    <!--prematureOvarianFailure -->
    <mat-step>
      <form>
        <p
          class="text-2xl text-black !my-5 text-center font-semibold max-sm:text-base"
        >
          prematureOvarianFailure
        </p>
        <div class="flex justify-center">
          <mat-radio-group
            class="flex flex-col mb-5 gap-3"
            aria-label="Select an option"
          >
            <mat-radio-button value="1"
              ><span
                class="max-sm:text-sm"
                (change)="
                  updateQuestionHormonal('1', 'prematureOvarianFailure')
                "
                >Si</span
              ></mat-radio-button
            >
            <mat-radio-button value="0"
              ><span
                class="max-sm:text-sm"
                (change)="
                  updateQuestionHormonal('2', 'prematureOvarianFailure')
                "
                >No</span
              ></mat-radio-button
            >
          </mat-radio-group>
        </div>
        <div class="text-center">
          <button
            mat-button
            matStepperNext
            type="submit"
            class="!text-white !rounded-full !bg-[#de84ee] !p-5"
          >
            Siguiente
          </button>
        </div>
      </form>
    </mat-step>
    <!--sheehanSyndrome -->
    <mat-step>
      <form>
        <p
          class="text-2xl text-black !my-5 text-center font-semibold max-sm:text-base"
        >
          sheehanSyndrome
        </p>
        <div class="flex justify-center">
          <mat-radio-group
            class="flex flex-col mb-5 gap-3"
            aria-label="Select an option"
          >
            <mat-radio-button value="1"
              ><span
                class="max-sm:text-sm"
                (change)="updateQuestionHormonal('1', 'sheehanSyndrome')"
                >Si</span
              ></mat-radio-button
            >
            <mat-radio-button value="0"
              ><span
                class="max-sm:text-sm"
                (change)="updateQuestionHormonal('2', 'sheehanSyndrome')"
                >No</span
              ></mat-radio-button
            >
          </mat-radio-group>
        </div>
        <div class="text-center">
          <button
            mat-button
            matStepperPrevious
            class="!text-white !rounded-full !bg-[#7c2385] !p-5 me-3"
          >
            Volver
          </button>
          <button
            mat-button
            matStepperNext
            type="submit"
            (click)="finishQuestion()"
            class="!text-white !rounded-full !bg-[#de84ee] !p-5"
          >
            Finalizar
          </button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>
