<div
  #navBar
  class="py-4 text-white fixed top-0 lg:z-50 bg-[#FEA8B1] px-[5vw] w-[100vw] z-10"
>
  <nav class="flex justify-between items-center">
    <!--<a routerLink="" class="text-xl font-bold"></a>-->
    <div class="flex items-center gap-[10px] cursor-pointer" routerLink="">
      <img class="h-[40px]" src="./assets/images/isotipo.svg" alt="" />
      <h1
        style="user-select: none"
        class="font-semibold text-[40px] text-black italic"
      >
        femfy
      </h1>
    </div>
    <div
      *ngIf="isSurveyInit === false"
      class="flex space-x-4 text-[20px] items-center"
    >
      <a
        class="p-3 max-lg:hidden"
        *ngFor="let menu of isLogging ? menuLogueado : menuNoLogueado"
        routerLinkActive="text-white font-semibold bg-[#DA057A] rounded-full"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="{{ menu.path }}"
        >{{ menu.label }}</a
      >
      <ng-container *ngIf="isLogging">
        <ng-container *ngIf="icon">
          <button
            #myTooltip="matTooltip"
            (click)="myTooltip.show()"
            matTooltip="{{ icon?.desc }}"
            class="block"
          >
            <mat-icon class="m-2 mt-4" [svgIcon]="icon?.name"></mat-icon>
          </button>
        </ng-container>
        <button
          class="flex items-center"
          [matMenuTriggerFor]="menuProfileButton"
        >
          <img
            src="https://img.freepik.com/free-photo/tender-woman-having-brow-color-added-her-eyebrows_231208-3536.jpg?w=740&t=st=1696609354~exp=1696609954~hmac=baaa69b1838e8d1cbc325815ded6adca4a0a6a422cb0a1bc641f52ebbaf7e139"
            class="w-[50px] h-[50px] object-cover rounded-full border-4"
          />
          <mat-icon class="text-[#DA047A]">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menuProfileButton="matMenu">
          <ng-container *ngFor="let item of menuProfile">
            <button
              mat-menu-item
              routerLinkActive="text-[black] font-semibold"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="{{ item.path }}"
            >
              <mat-icon color="{{ item.iconColor }}">{{ item.icon }}</mat-icon>
              {{ item.label }}
            </button>
            <div class="px-2">
              <mat-divider></mat-divider>
            </div>
          </ng-container>
          <button mat-menu-item (click)="logoutUser()">
            <mat-icon color="warn">logout</mat-icon>
            Cerrar sesión
          </button>
        </mat-menu>
      </ng-container>
    </div>
  </nav>
</div>
