<div
  #navBar
  class="py-4 text-white fixed top-0 md:z-50 bg-[#FEA8B1] px-[5vw] w-[100vw] z-10"
>
  <nav class="flex justify-between items-center">
    <a routerLink="" class="text-xl font-bold">femfy</a>
    <button mat-fab class="lg:hidden text-xl" (click)="menuToggle()">
      <mat-icon class="text-[2rem] active:text-[2.5rem]">menu</mat-icon>
    </button>
    <div class="hidden lg:flex space-x-4">
      <a
        *ngFor="
          let menu of filterMenuDesktop(
            isLogging ? menuLogueado : menuNoLogueado
          )
        "
        routerLinkActive="text-[black] font-semibold"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="{{ menu.path }}"
        >{{ menu.label }}</a
      >
    </div>
  </nav>
</div>

<div
  #backdrop
  (click)="backdropView()"
  class="hidden fixed top-0 left-0 h-screen w-full bg-black opacity-50 z-10"
></div>

<div
  #drawer
  class="bg-white fixed top-0 left-0 h-screen w-56 shadow-lg p-4 transform -translate-x-full transition-transform duration-300 ease-in-out z-50"
>
  <button
    mat-fab
    class="absolute top-2 right-2 text-xl"
    (click)="closeDrawerButton()"
  >
    <mat-icon class="text-[1rem] active:text-[1.5rem]">close</mat-icon>
  </button>
  <ul class="space-y-4 my-8 px-2">
    <ng-container
      *ngFor="let menu of isLogging ? menuLogueado : menuNoLogueado"
    >
      <li>
        <a
          class="text-[20px] font-semibold active:text-[22px]"
          (click)="handleRouter(menu.path)"
          routerLink="{{ menu.path }}"
          routerLinkActive="text-[#FF97A5]"
          [routerLinkActiveOptions]="{ exact: true }"
          >{{ menu.label }}</a
        >
      </li>
      <mat-divider></mat-divider>
    </ng-container>
  </ul>
</div>
