<div class="bg-white p-4 rounded-[20px]">
  <h4 class="font-semibold">Información de historial</h4>
  <div
    class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start"
  >
    <span
      >En tu familia, ¿alguien ha recibido un diagnóstico de cáncer de
      mama?</span
    >
    <form
      class="flex gap-3 items-center"
      [formGroup]="formPreguntasCancerMamar"
      (ngSubmit)="submitOne()"
    >
      <mat-slide-toggle formControlName="breastCancer">Sí</mat-slide-toggle
      ><button mat-icon-button type="submit"><mat-icon>save</mat-icon></button>
    </form>
  </div>
  <mat-divider></mat-divider>

  <div
    class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start"
  >
    <span
      >En tu familia, ¿Existe un historial de cáncer de ovario en tu
      familia?</span
    >
    <form
      class="flex gap-3 items-center"
      [formGroup]="formPreguntasCancerOvario"
      (ngSubmit)="submitTwo()"
    >
      <mat-slide-toggle formControlName="ovarianCancer">Sí</mat-slide-toggle
      ><button mat-icon-button type="submit"><mat-icon>save</mat-icon></button>
    </form>
  </div>
  <mat-divider></mat-divider>

  <div
    class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start"
  >
    <span
      >En tu familia, ¿Alguna de las mujeres en tu familia ha sido diagnosticada
      con endometriosis?</span
    >
    <form
      class="flex gap-3 items-center"
      [formGroup]="formPreguntasEndometriosis"
      (ngSubmit)="submitThre()"
    >
      <mat-slide-toggle formControlName="endometriosis">Sí</mat-slide-toggle
      ><button mat-icon-button type="submit"><mat-icon>save</mat-icon></button>
    </form>
  </div>
  <mat-divider></mat-divider>

  <div
    class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start"
  >
    <span
      >¿Alguna de tus parientes cercanas ha sido diagnosticada con el síndrome
      de ovario poliquístico?</span
    >
    <form
      class="flex gap-3 items-center"
      [formGroup]="formPreguntasOvarioPoliquistico"
      (ngSubmit)="submitFour()"
    >
      <mat-slide-toggle formControlName="sop">Sí</mat-slide-toggle
      ><button mat-icon-button type="submit"><mat-icon>save</mat-icon></button>
    </form>
  </div>
  <mat-divider></mat-divider>

  <div
    class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start"
  >
    <span
      >¿Tienes algún conocido en tu familia que haya experimentado la menopausia
      a una edad temprana?</span
    >
    <form
      class="flex gap-3 items-center"
      [formGroup]="formPreguntasMenopausiaTemprana"
      (ngSubmit)="submitFive()"
    >
      <mat-slide-toggle formControlName="earlyMenopause">Sí</mat-slide-toggle
      ><button mat-icon-button type="submit"><mat-icon>save</mat-icon></button>
    </form>
  </div>
  <mat-divider></mat-divider>

  <div
    class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start"
  >
    <span
      >¿Tienes conocimiento de si algún miembro de tu familia ha tenido miomas
      uterinos?</span
    >
    <form
      class="flex gap-3 items-center"
      [formGroup]="formPreguntasMioma"
      (ngSubmit)="submitSic()"
    >
      <mat-slide-toggle formControlName="uterineFibroids">Sí</mat-slide-toggle
      ><button mat-icon-button type="submit"><mat-icon>save</mat-icon></button>
    </form>
  </div>
  <mat-divider></mat-divider>
</div>
