<div class="bg-white rounded-[20px]">
  <h4 class="text-2xl max-md:text-xl p-[20px] text-femfy-800 border-b-4 border-femfy-800 font-semibold">Información de
    historial</h4>
  <div class="px-5">
    <div class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start">
      <span class="font-medium">En tu familia, ¿alguien ha recibido un diagnóstico de cáncer de mama?</span>
      <form class="flex gap-3 items-center my-2 md:my-0" [formGroup]="formPreguntasCancerMamar"
        (ngSubmit)="submitBreastCancer()">
        No<mat-slide-toggle color="accent" formControlName="breastCancer">Sí</mat-slide-toggle>
      </form>
    </div>
    <mat-divider></mat-divider>
    <div class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start">
      <span class="font-medium">En tu familia, ¿Existe un historial de cáncer de ovario en tu familia?</span>
      <form class="flex gap-3 items-center my-2 md:my-0" [formGroup]="formPreguntasCancerOvario"
        (ngSubmit)="submitOvarianCancer()">
        No<mat-slide-toggle color="accent" formControlName="ovarianCancer">Sí</mat-slide-toggle>
      </form>
    </div>
    <mat-divider></mat-divider>
    <div class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start">
      <span class="font-medium">En tu familia, ¿Alguna de las mujeres en tu familia ha sido diagnosticada con
        endometriosis?</span>
      <form class="flex gap-3 items-center my-2 md:my-0" [formGroup]="formPreguntasEndometriosis"
        (ngSubmit)="submitEndometriosis()">
        No<mat-slide-toggle color="accent" formControlName="endometriosis">Sí</mat-slide-toggle>
      </form>
    </div>
    <mat-divider></mat-divider>
    <div class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start">
      <span class="font-medium">¿Alguna de tus parientes cercanas ha sido diagnosticada con el síndrome de ovario
        poliquístico?</span>
      <form class="flex gap-3 items-center my-2 md:my-0" [formGroup]="formPreguntasOvarioPoliquistico"
        (ngSubmit)="submitSop()">
        No<mat-slide-toggle color="accent" formControlName="sop">Sí</mat-slide-toggle>
      </form>
    </div>
    <mat-divider></mat-divider>
    <div class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start">
      <span class="font-medium">¿Tienes algún conocido en tu familia que haya experimentado la menopausia a una edad
        temprana?</span>
      <form class="flex gap-3 items-center my-2 md:my-0" [formGroup]="formPreguntasMenopausiaTemprana"
        (ngSubmit)="submitEarlyMenopause()">
        No<mat-slide-toggle color="accent" formControlName="earlyMenopause">Sí</mat-slide-toggle>
      </form>
    </div>
    <mat-divider></mat-divider>

    <div class="flex justify-between items-center py-3 max-sm:flex-col max-sm:items-start">
      <span class="font-medium">¿Tienes conocimiento de si algún miembro de tu familia ha tenido miomas uterinos?</span>
      <form class="flex gap-3 items-center my-2 md:my-0" [formGroup]="formPreguntasMioma"
        (ngSubmit)="submitUterineFibroids()">
        No<mat-slide-toggle color="accent" formControlName="uterineFibroids">Sí</mat-slide-toggle>
      </form>
    </div>
    <div class="flex justify-end">
      <button class="bg-femfy-400 self-end text-white py-[10px] px-[20px] mb-5 rounded-[20px] me-3 justify-end"
        type="submit">
        Guardar
      </button>
  </div>
</div>